* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.box {
    border: solid black;
    margin: 0 2rem;
    padding: 2rem;

}